BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Preserve
